.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 32px;
}

.logo-wrapper-auth {
  color: purple;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 20px 0px;
  display: flex;
  gap: 9px;
}

.auth-logo {
  color: purple;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 4px;
}

.auth-logo-icon {
  width: 42px;
  height: 42px;
  border: 4px solid purple;
  border-radius: 5px;
}

.logo img {
  width: 150px;
  height: auto;
}

.login-container {
  display: flex;
  width: 80%;
  max-width: 90%;
  height: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  overflow: hidden;
}

.left-side {
  flex: 1;
  background-color: #350066;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side img {
  width: 70%;
  height: auto;
  /* Maintains aspect ratio */
  max-height: 80%;
  /* Prevents image from stretching too tall */
  object-fit: contain;
  /* Ensures full image is visible within container */
}

.right-side {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 70%;
}

.right-side h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.auth-input-field {
  width: 100%;
  margin-bottom: 15px;
}

.auth-input-field label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.auth-input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* button:hover {
  background-color: #0056b3;
} */

.login-header {
  font-size: 24px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.865);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
  padding: 10px 30px;
  border-radius: 999px;
  background-color: #350066;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.gray-text {
  color: gray;

}

.purple-link {
  color: #6a0dad;
  text-decoration: none;
}

.purple-link:hover {
  text-decoration: underline;
  /* Optional: underline on hover */
}